<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Users</title>

		<script type="text/javascript" src="/scripts/libs/jquery-1.7.1.js"></script>
		<script type="text/javascript" src="/scripts/libs/jquery.tmpl.js"></script>
		<script type="text/javascript" src="/scripts/libs/underscore.js"></script>
		<script type="text/javascript" src="/scripts/libs/backbone.js"></script>
		<script type="text/javascript" src="/scripts/libs/handlebars.js"></script>

		<script type="text/javascript" src="/scripts/libs/backbone.marionette.js"></script>
		<script type="text/javascript" src="/scripts/libs/backbone.modelbinding.js"></script>
		<script type="text/javascript" src="/scripts/libs/backbone.validation.js"></script>

		<script type="text/javascript" src="/scripts/models.js"></script>
		<script type="text/javascript" src="/scripts/collections.js"></script>
		<script type="text/javascript" src="/scripts/views.js"></script>

		
		<script type="text/javascript" src="/scripts/client.js"></script>

	  <link href="/bootstrap/css/bootstrap.css" rel="stylesheet">

		<script type="text/javascript" src="/scripts/libs/datatables/jquery.dataTables.js"></script>
		<script type="text/javascript" src="/scripts/libs/datatables/DT_bootstrap.js"></script>
  	<link href="/scripts/libs/datatables/jquery.dataTables.css" rel="stylesheet">
  	<link href="/scripts/libs/datatables/DT_bootstrap.css" rel="stylesheet">
 
    <style>
        body {
            padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
        }

        .dropdown-menu {
		    max-height: 400px;
		    overflow-y: scroll;
		    width: 220px;
		}

		.list-item {
		    padding-top: 6px;
		    padding-left: 56px;
		}
    </style>
  	<link href="/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">

	</head>
	<body>

			<div id="main-navigation-menu" class="navbar navbar-fixed-top"></div>

	    <div class="container">
    		<div style="margin-bottom:50px">
					<h1>Bootstrap starter template</h1>
					<p>Use this document as a way to quick start any new project.<br> All you get is this message and a barebones HTML document.</p>
				</div>
				<div>	
					<div id="main-region"></div>
				</div>
	    </div> <!-- /container -->

	    <!-- Main template -->
			<script type="text/x-jquery-tmpl" id="tmpl-main-region">
				<div class="row">
					<h4 class="span3">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, uis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor 
					</h4> 
				</div>
			</script>
	    <!-- End of main template -->

			<!-- User templates -->
			<script type="text/x-jquery-tmpl" id="tmpl-user-navigation">
				<div class="alert alert-info span3" style="margin-bottom: 60px;">
					Add a new user to the system <button id="create" type="button" class="btn btn-primary">Create »</button>  
				</div>
			</script>

			<script type="text/x-jquery-tmpl" id="tmpl-users-layout">
				<div>
					<div id="user-navigation-region"></div>
					<div id="user-list-region"></div>
				</div>	
			</script>

			<script type="text/x-jquery-tmpl" id="tmpl-user-grid-header">
				<thead><tr><th>First name</th><th>Last name</th><th>Email</th><th> </th><th> </th></tr></thead><tbody>
			</script>

			<script type="text/x-jquery-tmpl" id="tmpl-user-item">
				<td>${firstname}</td> 
				<td>${lastname}</td>
				<td>${email}</td>
				<td><button type="button" class="btn edit">Edit</button></td>
				<td>
					<button style="width:80px;" type="button" 
						
						class=
						{{if active}}	
							"active-status remove btn btn-primary"
						{{else}}
							"active-status remove btn btn-danger"
							{{/if}}		
						>

						{{if active }} 
							Active 
						{{else}} 
							Inactive 
						{{/if}}
					</button>
				</td>
			</script>

			<script type="text/x-jquery-tmpl" id="tmpl-user-maintenance">
				<div class="span8">
					<form id="user-create" class="form-horizontal">
						<fieldset>
							<legend>User</legend>

							<div class="control-group">			
								<label class="control-label" for="firstname">First name:</label>
								<div class="controls">
									<input name="firstname" id="firstname" type="text" data-bind="text firstname"/>
								</div>
							</div>	

							<div class="control-group">			
								<label class="control-label" for="lastname">Last name:</label>
								<div class="controls">
									<input id="lastname" type="text" />
								</div>
							</div>	

							<div class="control-group">			
								<label class="control-label" for="email">Email:</label>
								<div class="controls">
									<input id="email" class="span3" type="text" placeholder="EKM email address"/>
								</div>
							</div>	
							
							<div class="control-group">			
								<label class="control-label" for="entitlement">Entitlement:</label>
								<div class="controls">
									<input id="entitlement" class="span1" type="text" />
									<p class="help-block">Annual days holiday</p>
								</div>	
							</div>	
							
							<div class="control-group">			
								<label class="control-label" for="startdate">Start date:</label>
								<div class="controls">
									<input id="startdate" class="span2" type="text" />
								</div>
							</div>	

							<div class="control-group">			
								<label class="control-label" for="active">Active:</label>
								<div class="controls">
									<input id="active" type="checkbox" />
								</div>
							</div>	

							<div class="form-actions">			
								<button class="btn btn-primary" id="save-button" type="submit">Save</button>
								<button class="btn " id="cancel-button">Cancel</button>
							</div>	

						</fieldset>
					</form>
				</div>	
			</script>
						
			<!-- End of Users templates-->

	    <!-- Navigation menu templates -->
			<script type="text/x-jquery-tmpl" id="tmpl-main-navigation-menu">
	      <div class="navbar-inner">
	        <div class="container">
	          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </a>
	          <a class="brand" href="#">Application</a>
	          <div class="nav-collapse">
	            <ul class="nav">
	              <li class="active">
	              	<a id="main-home" href="#">Home</a>
	              </li>
	              <li>
	              	<a id="main-about" href="#about">About</a>
	              </li>
	            </ul>
				<a id="main-admin" class="btn pull-right" href="#admin">Admin</a>
	          </div>
	        </div>
	      </div>
			</script>
	    <!-- End of navigation menu templates -->
			<script type="text/javascript" src="/bootstrap/js/bootstrap.js"></script>

	</body>
</html>		
