br
br
div#item
br
br
div#list-item 
br
br
br

script#userTemplate(type='text/x-jquery-tmpl')
	form#add-edit-form

		| User name: 
		input#username(type="text") 
		br	
		| Address 1: 
		input#address(type="text") 
		br	
		button#save-button(type="submit")
			| Save 
	

script#user-list-item-template(type='text/x-jquery-tmpl')
	${username}	${address}	
	button.edit(type="button")
		| Edit  
	button.remove(type="button")
		| Remove
		

