!!! 5
html(lang="en")
	head
		title Users

		script(type="text/javascript", src="/scripts/libs/jquery-1.5.1.js")
		script(type="text/javascript", src="/scripts/libs/jquery.tmpl.js")
		script(type="text/javascript", src="/scripts/libs/underscore.js")
		script(type="text/javascript", src="/scripts/libs/backbone.js")

		script(type="text/javascript", src="/scripts/models.js")
		script(type="text/javascript", src="/scripts/collections.js")
		script(type="text/javascript", src="/scripts/views.js")
		script(type="text/javascript", src="/scripts/client.js")

	body 
		div!= body 