
<script type="text/x-handlebars-template" id="tmpl-Employee-item">

  <div class="Employee-container">

    <button class="btn-remove-Employee" ><i class="icon-remove"/></button>  

    <img class="edit img-polaroid" style="margin-left: 35px;  cursor: pointer; width:100px; height:100px;" src = "{{gravatar}}", title = "{{fullname}}" />
    
    <span style="font-weight: bold; display: block; text-align: center; margin-left: auto; margin-right: auto; width: 150px;">{{fullname}}</span> 

  </div>

</script>
