
<script type="text/x-knockback-template" id="tmpl-user-item">

  <div style="float: left; width:150px; height:150px; overflow: hidden; ">
    This is the item
    <img class="edit" style="cursor: pointer; display: block; margin: auto; width: 100px; height: 100px; " data-bind="attr: { src: gravatar, title: fullname }" />
    <span style="font-weight: bold; display: block; text-align: center; margin-left: auto; margin-right: auto; width: 150px;" data-bind="text: fullname"></span> 
  </div>

</script>
