<script type="text/x-handlebars-template" id="tmpl-employee-maintenance">
	<div class="span8">
		<form id="employee-maintenance" class="form-horizontal">
			<fieldset>

				<div class="control-group">	
					<img style="margin-bottom: -30px;" class="pull-right" src="/images/blank-gravatar.jpg" id="employee-gravatar" alt="Employees gravatar">
					<legend>User</legend>
				</div>	

				<div class="control-group">			
					<label class="control-label" for="firstname">First name:</label>
					<div class="controls">
						<input name="firstname" id="firstname" type="text" />
					</div>
				</div>	

				<div class="control-group">			
					<label class="control-label" for="lastname">Last name:</label>
					<div class="controls">
						<input name="lastname" id="lastname" type="text" />
					</div>
				</div>	

				<div class="control-group">			
					<label class="control-label" for="email">Email:</label>
					<div class="controls">
						<input name="email" id="email" class="span3" type="text" placeholder="EKM email address" />
					</div>
				</div>	

				<div class="control-group">			
					<label class="control-label" for="departmentId">Department:</label>
					<div class="controls">
						<select id="departmentId" name="departmentId" >
							{{#each departments.models}}
							 <option value="{{this.attributes._id}}">{{this.attributes.name}}</option>
							{{/each}}
						</select>
					</div>	
				</div>	

				<div class="control-group">			
					<label class="control-label" for="enddate">End date:</label>
					<div class="controls">
						<input name="enddate" id="enddate" class="span2" type="text" />
					</div>
				</div>	

				<div class="control-group">			
					<label class="control-label" for="active">Active:</label>
					<div class="controls">
						<input name="active" id="active" type="checkbox" />
					</div>
				</div>	

				<div class="form-actions">			
					<button class="btn btn-primary" id="save-button" type="submit"><i class="icon-ok-sign icon-white" /> Save</button>
					<button class="btn " id="cancel-button">Cancel</button>
				</div>	

			</fieldset>
		</form>
	</div>	
</script>

