<script type="text/x-handlebars-template" id="tmpl-department-maintenance">
	<div class="span8">
		<form id="department-create" class="form-horizontal">
			<fieldset>
				<legend>Department</legend>

				<div class="control-group">			
					<label class="control-label" for="name">Department:</label>
					<div class="controls">
						<input name="name" id="name" type="text"></input>
					</div>
				</div>	
				
				<div class="form-actions">			
					<button class="btn btn-primary" id="save-button" type="submit"><i class="icon-ok-sign icon-white" /> Save</button>
					<button class="btn " id="cancel-button">Cancel</button>
				</div>	

			</fieldset>
		</form>
	</div>	
</script>
