<script type="text/x-handlebars-template" id="tmpl-main-navigation-menu">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="#">Application</a>
      <div class="nav-collapse">
        <ul class="nav">
          <li class="active">
          	<a id="main-home" href="#">Home</a>
          </li>
          <li>
          	<a id="main-about" href="#about">About</a>
          </li>
        </ul>
				<a id="main-admin" class="btn pull-right" href="admin">Admin</a>
      </div>
    </div>
  </div>
</script>