.employee-container {
  float: left; 
  width:180px; 
  height:140px; 
  overflow: hidden; 
  margin: 10px; 
  /* border: solid 1px red;  */ 
}

.expander {
  cursor: pointer;
}

.employees-container {
  /* background-color: #D9EDF7; */
  margin-bottom:40px;
}

.employee-image {
  margin-left: 35px;  
  cursor: pointer; 
  width:100px; 
  height:100px;
}

.department-header {
  margin-bottom:5px;
}

.employee-container:hover .employee-image {
  width:105px; 
  height:105px;
}

.department-header {
  background-color: #E3E3E3
}

.employee-container:hover .btn-remove-employee { visibility: visible; }
.department-header:hover .btn-create-employee { visibility: visible; }

.btn-remove-employee {
  float:right; 
  visibility:hidden; 
}

.btn-create-employee {
  visibility:hidden; 
}